@page
@model AuthGuard.Host.Pages.IndexModel
@using Microsoft.AspNetCore.Authentication;
@using System.Diagnostics
@{
   var isAuthenticated = User?.Identity?.IsAuthenticated ?? false;
}

<div class="welcome-page">
    <div class="text-center">
        <h1>
          <img src="~/icon.jpg"> AuthGuard 
        </h1>
    </div>
       <div class="text-center">
          <small class="text-muted">Powered by OpenIDDict</small>
    </div>
  
</div>
