@page
@model Boilerplate.SSO.Host.Pages.Clients.IndexModel
@{
    ViewData["Title"] = "Register Client";
}

<div class="container mt-5">
    <h2 class="mb-4">Register Client</h2>
    <form method="post">
        <div class="form-group">
            <label for="ClientId">Client ID</label>
            <input type="text" class="form-control" id="ClientId" name="ClientId" required />
        </div>
        <div class="form-group">
            <label for="ClientSecret">Client Secret</label>
            <input type="password" class="form-control" id="ClientSecret" name="ClientSecret" required />
        </div>
        <div class="form-group">
            <label for="DisplayName">Display Name</label>
            <input type="text" class="form-control" id="DisplayName" name="DisplayName" />
        </div>
         <div class="form-group">
            <label for="DisplayName">Type</label>
            <input type="text" class="form-control" id="ClientType" name="ClientType" />
        </div>
        <div class="form-group">
            <label for="RedirectUri">Redirect URI</label>
            <input type="url" class="form-control" id="RedirectUri" name="RedirectUri" required />
        </div>
        <div class="form-group">
            <label for="PostLogoutRedirectUri">Post Logout Redirect URI</label>
            <input type="url" class="form-control" id="PostLogoutRedirectUri" name="PostLogoutRedirectUri" />
        </div>
        <div class="form-group">
            <label for="Permissions">Permissions (comma separated)</label>
            <input type="text" class="form-control" id="Permissions" name="Permissions" />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Register</button>
    </form>
</div>