@page
@model IndexModel
@using Microsoft.AspNetCore.Authentication;
@using System.Diagnostics
@{
    var version = 1.0;
    var isAuthenticated = User?.Identity?.IsAuthenticated ?? false;
    //FileVersionInfo.GetVersionInfo(typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.Location).ProductVersion.Split('+').First();
}

<div class="welcome-page">
    <h1>
        <img src="~/icon.jpg">
        Welcome to Identity Server
        <small class="text-muted">(version @version)</small>
    </h1>

    <ul>
        <li>
            IdentityServer publishes a
            <a href="~/.well-known/openid-configuration">discovery document</a>
            where you can find metadata and links to all the endpoints, key material, etc.
        </li>

    </ul>
     @if (isAuthenticated)
    {
        
        <div>
            <p>You are signed in as</p>
            <h2>@User.Identity.Name</h2>
            <hr />
  
            <p><a class="btn btn-dark" asp-controller="Account" asp-action="Logout">Sign out</a></p>
        </div>
    }

    @if (!isAuthenticated)
    {
        <div>
            <p>You are not signed in</p>
            <p><a class="btn btn-sm btn-dark" asp-page="/Account/Login" >Sign in</a></p>
        </div>
    }
</div>
